<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta charset="UTF-8">
    <title>Leaderboard</title>
  </head>
  <body>
    <div id="app">
      <header>
        <h1>Leaderboard</h1>
        <div id="block-navigation">
          <a class="link-navigation" id="link-main-menu" href="" >Main Menu</a>
        </div>
      </header>
      <ul id="list-players">
        <li>
            <div>Player Test</div>
            <div>Has finished in 5.5 seconds</div>
        </li>
        <li>
          <div>Player Test2</div>
          <div>Has finished in 6 seconds</div>
        </li>
      </ul>
    </div>
  <script src="/dist/leaderboard.js"></script></body>
</html>