body {
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
}

/* Page Header */
header {
  display: flex;
  justify-content: center;

  position: fixed;
  width: 100%;
  height: 70px;

  background-color: white;
  z-index: 1;
  border-bottom: 3px solid;
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  margin-bottom: 7px;
  padding: 0;

  font-size: 36px;
  font-weight: normal;
}
#block-navigation {
  position: absolute;
  right: 30px;

  height: 70px;

  display: flex;
  align-items: center;
}
.link-navigation {
  display: flex;
  align-items: center;

  height: 40px;
  padding: 0 10px;

  text-decoration: none;
  color: black;
  font-size: 20px;

  background-color: pink;
  border: 3px transparent;
  border-radius: 3px;
}
.link-navigation:hover {
  color: white;
  background-color: red;
}

/* Lists */
.leaderboard-list {
  list-style-type: none;

  background-color: pink;
  border: 1px transparent;
  border-radius: 5px;
}

/* List of levels */
#leaderboard-list-levels {
  display: flex;
  flex-direction: column;

  width: 150px;
  height: 300px;
  margin-top: 150px;
  margin-right: 15px;
  padding: 5px 0;
}
.btn {
  border: 3px solid pink;

  cursor: pointer;
}
.btn:hover {
  color: white;

  background-color: red;
}
.btn-select-level {
  width: 120px;
  height: 50px;

  font-size: 20px;

  background-color: white;
}
.list-item-levels {
  display: flex;
  justify-content: center;
}

/* List of players */
#leaderboard-list-players {
  width: 800px;
  min-height: 600px;
  margin-top: 100px;
  padding: 0;
}
#leaderboard-header {
  width: 250px;
  margin: 8px auto;
  padding: 5px;

  font-size: 26px;
  font-weight: normal;
  text-align: center;

  background-color: lightgoldenrodyellow;
  border: 1px transparent;
  border-radius: 3px;
}
.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 7px 10px;
  padding: 5px;

  font-size: 20px;

  background-color: white;
  border: 2px transparent;
  border-radius: 3px;
}
#leaderboard-list-players li div {
  margin: 3px 0;
}
#list-template {
  display: none;
}

/* Helper classes */
.btn-toggled {
  background-color: lightgoldenrodyellow;
  border-color: red;
}
