body {
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
}

#header-progress {
  display: flex;
  justify-content: center;

  position: fixed;
  width: 100%;
  height: 70px;

  background-color: white;
  z-index: 1;
  outline: 1px solid;
}
.progress-item {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 7px;

  font-size: 22px;
}
.progress-item label {
  padding: 0 5px;
}

#game-field {
  position: relative;

  display: flex;
  justify-content: center;
}

#img-background {
  position: relative;

  margin-top: 30px;
}

#box-target {
  position: absolute;

  height: 50px;
  width: 50px;

  border: 5px solid;
}

#menu-search-container {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 120px;
  width: 90px;

  background-color: white;
  opacity: .6;
  border: 5px solid red;
}
.menu-search-option {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 90px;

  font-size: 18px;

  outline: 1px solid;
  cursor: pointer;
}
.menu-search-option:hover {
  background-color: yellow;
}

.mark {
  position: absolute;

  height: 50px;
  width: 50px;

  border: 5px solid blue;
}