body {
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
}

#box-target {
  position: absolute;

  height: 50px;
  width: 50px;

  border: 5px solid;
}

#menu-search-container {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 120px;
  width: 90px;

  background-color: white;
  opacity: .6;
  border: 5px solid red;
}
.menu-search-option {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 90px;

  font-size: 18px;

  outline: 1px solid;
  cursor: pointer;
}
.menu-search-option:hover {
  background-color: yellow;
}