body {
  margin: 0;
}

#app {
  display: flex;
  justify-content: center;
}

/* Header */

/* Header - Left block */
#block-left {
  position: absolute;
  left: 0;

  display: flex;
  align-items: center;

  height: 70px;
}

/* Buttons */
.btn {
  border: 1px transparent;
  border-radius: 3px;

  animation: fade-in-translate .3s ease-in;
}
.btn:hover {
  cursor: pointer;
}

/* Restart button */
#btn-restart {
  width: 100px;
  height: 30px;
  margin: 0 12px;

  font-size: 20px;

  background-color: pink;

  visibility: hidden;
}
#btn-restart:hover {
  color: white;

  background-color: red;
}

/* Game Title */
#title-game {
  display: flex;
}
#title-game img {
  height: 70px;
  margin-right: 5px;
}
#title-game h1 {
  font-weight: normal;
}

/* Header - Center block */
#header-game {
  display: flex;
  justify-content: center;

  position: fixed;
  width: 100%;
  height: 70px;

  background-color: white;
  z-index: 1;
  outline: 1px solid;
}
.progress-item {
  justify-content: center;
  align-items: center;

  margin-bottom: 7px;

  font-size: 22px;

  display: none;

  animation: fade-in-translate .2s ease-in;
}
.progress-item label {
  padding: 0 5px;
}

/* Header - Navigation block */
#block-right {
  position: absolute;
  right: 30px;

  height: 70px;

  display: flex;
  align-items: center;
}
#btn-select-level {
  height: 40px;
  margin-right: 20px;
  padding: 0 10px;

  font-size: 20px;
  color: black;

  background-color: pink;

  visibility: hidden;
}
#btn-select-level:hover {
  color: white;

  background-color: red;
}
.link-navigation {
  display: flex;
  align-items: center;

  height: 40px;
  padding: 0 10px;

  text-decoration: none;
  color: black;
  font-size: 20px;

  background-color: pink;
  border: 3px transparent;
  border-radius: 3px;
}
.link-navigation:hover {
  color: white;
  background-color: red;
}

/* Game field */
#game-field {
  position: relative;

  display: flex;
  justify-content: center;
}

/* Background image */
#img-background {
  position: relative;

  max-width: 1550px;

  margin-top: 30px;
  margin-bottom: 120px;
}

/* Target box */
#box-target {
  position: absolute;

  height: 50px;
  width: 50px;

  border: 5px solid;
}

/* Search menu container */
#menu-search-container {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 160px;
  width: 90px;

  background-color: white;
  border: 5px solid red;

  animation: fade-in .2s ease-in-out;
}
.menu-search-option {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 90px;

  font-size: 18px;

  outline: 1px solid;
  cursor: pointer;
}
.menu-search-option:hover {
  background-color: yellow;
}

/* Found-a-character mark */
.mark {
  position: absolute;

  height: 50px;
  width: 50px;

  border: 5px solid blue;
}

/* Messages */
.message {
  position: absolute;

  display: flex;
  flex-direction: column;

  font-size: 18px;
  text-align: center;

  background-color: pink;
  border: 3px solid;
  border-radius: 3px;

  animation: fade-in-translate .2s ease-in;
}

/* Not-found message */
#message-not-found {
  width: 120px;
  height: 70px;

  opacity: .8;

  visibility: hidden;
}
#message-not-found-btn-close {
  align-self: flex-end;
  padding: 0 4px;
}
#message-not-found p {
  margin: 0;
  padding: 3px;
}

/* Close button */
.btn-close {
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  color: black;

  cursor: pointer;
}
.btn-close:hover {
  color: red;
}

/* Endgame message */
#message-endgame {
  align-self: center;

  align-items: center;

  width: 600px;

  visibility: hidden;
}
#message-endgame-header {
  margin: 0 0 10px 0;
  font-size: 27px;
}
#message-endgame a {
  align-self: flex-end;
  margin: 0 5px;
  padding: 4px;

  font-size: 22px;
}
#block-submit-to-leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#message-endgame-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#message-endgame-body p {
  font-size: 20px;
}
#message-endgame-body label {
  margin: 0 5px 10px 0;
}
#message-endgame-body input {
  width: 215px;
  height: 40px;
  margin: 5px 0 15px;
  padding-left: 7px;

  font-size: 18px;

  border: none;
}
#message-endgame-body button {
  width: 120px;
  height: 30px;
  margin-bottom: 10px;

  color: white;
  font-size: 18px;
  font-weight: bold;

  background-color: red;
  border: none;
}
#message-endgame-body button:hover {
  color: black;

  background-color: white;
}

/* Notification of a successful name upload
  to the server */
#message-name-added {
  align-self: center;

  width: 400px;

  visibility: hidden;
}
#message-name-added a {
  align-self: flex-end;
  padding: 0 4px;

  font-size: 20px;
}
#message-name-added p {
  padding: 0 4px;
}

/* Countdown message */
#message-countdown {
  display: flex;
  justify-content: center;

  align-self: center;
  width: 200px;
  height: 100px;
  padding: 0 8px;

  font-size: 36px;

  visibility: hidden;
}

/* A cover for the game field that stops the player
  from clicking on the background */
#cover {
  position: absolute;

  background-color: black;
  opacity: .1;
  outline: 1px solid;

  visibility: hidden;
}

/* Level Selector */
#level-selector {
  position: absolute;

  display: flex;
  flex-direction: column;

  width: 1000px;
  margin: 120px auto;

  background-color: pink;
  outline: 1px solid;
}
.list-level {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}
#list-level-title {
  align-self: center;

  margin: 15px 0;

  font-size: 28px;
}
.level-option {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 300px;
  margin: 15px;
  padding: 5px 0;

  list-style-type: none;
  background-color: white;
  border: 1px transparent;
  border-radius: 5px;
  cursor: pointer;
}
.level-option:hover {
  background-color: lightgoldenrodyellow;
}
.level-option-description {
  display: flex;

  margin-top: 5px;
}
.level-option-description p {
  margin: 5px;

  font-size: 20px;
}

/* Animation */

@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

@keyframes fade-in-translate {
  0% {
    opacity: 0;
    transform: translateY(-10px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}
